<!DOCTYPE html>
<html>
<head>
    <title>K-pop Twice - Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo(a) à Página do Twice!</h1>
    <p>O Twice é um grupo de K-pop composto por nove integrantes: Nayeon, Jeongyeon, Momo, Sana, Jihyo, Mina, Dahyun, Chaeyoung e Tzuyu.</p>
    <p>Elas são conhecidas por suas músicas cativantes e coreografias energéticas. O grupo ganhou uma enorme base de fãs em todo o mundo desde sua estreia em 2015.</p>
    <p>Explore nosso site para saber mais sobre o Twice, suas músicas, membros e discografia.</p>
</body>
</html>
